body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("background.webp");
}
.slider {
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
    border-color: blue 2px;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}
.slide.active {
    opacity: 1;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 20px;
    padding: 8px 12px;
}
.prev { left: 10px; }
.next { right: 10px; }
.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.dot {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}
.dot.active {
    background-color: rgb(12, 181, 15);
}
